---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Web Development & Design",
    description:
      "We specialize in crafting distinctive, tailor-made website design solutions that can elevate your business and brand, enabling you to maximize your online presence.",
    icon: "mdi:web-check",
  },
  {
    title: "E-commerce",
    description:
      "We are experienced at designing and building e-commerce solutions, a dynamic system like shopify and wordpress that makes it easy to manage your business online",
    icon: "mdi:store-check",
  },
  {
    title: "Mobile Development & Design",
    description:
      "We specialize in crafting bespoke mobile development solutions, meticulously designed to empower your business and brand, and unlock their full potential in the mobile realm.",
    icon: "mdi:cellphone",
  },
  {
    title: "ERP System Solution",
    description:
      "An ERP system solution is a comprehensive software platform that streamlines and integrates core business processes, from finance and human resources to manufacturing and inventory management",
    icon: "mdi:domain",
  },
  {
    title: "SEO Optimization",
    description:
      "Our search engine optimisation service involves analysing and enhancing your website’s underlying code, architecture, navigation, and visible content.",
    icon: "mdi:search-web",
  },
  {
    title: "Search Engine Marketing",
    description:
      "We are experience with the online search marketing service which are available to direct instant traffic to your website.",
    icon: "mdi:shopping",
  },
];
---

<ContentSection title="Services" id="services">
  <Fragment slot="lead">
    Astro comes <span class="text-primary">batteries included</span>. It takes
    the best parts of
    <span class="text-primary">state-of-the-art</span>
     tools and adds its own <span class="text-primary">innovations</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
